# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Test files
test
*.spec.ts
coverage

# Environment files
.env
.env.*

# Docker
Dockerfile
.dockerignore

# Documentation
README.md

# OS files
.DS_Store
Thumbs.db
